*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-weight: 200;
}

body{
    display: flex;
    justify-content: center;
}

.search-form{
    max-width: 400px;
}


input.search{
    position: relative;
    width: 120%;
    top: 1rem;
    left: -10%;
    height: 8rem;
    background-color: cornsilk;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.4),
                inset 0 0 .2rem rgba(0, 0, 0, 0.19);
    padding: 2rem;
    border: 1rem solid #f7f7f7;
    border-radius: 0.5rem;
    outline: none;
    font-size: 2rem;
    text-align: center;
    z-index: 2;
}

.list{
    position: relative;
}

.list li{
    list-style: none;
    background: white;
    padding: 1rem;
    border-bottom: .1rem solid #d8d8d8;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.14);
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.list li:nth-child(even){
    transform: perspective(10rem) rotateX(3deg) translateY(.2rem) scale(1.001);
    background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}

.list li:nth-child(odd){
    transform: perspective(10rem) rotateX(-3deg) translateY(.25rem);
    background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}